
@model List<DynamicForm.MVCWebApp.Models.ViewModels.Forms.GetFormListViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Forms</h5>


                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>CreatedBy</th>
                                            <th>Fields</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>@item.CreatedBy</td>
                                            @foreach (var item2 in item.GetFieldListDto)
                                            {
                                                <td>
                                                    <table class="table table-primary">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Required</th>
                                                                <th>DataType</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>@item2.Name</td>
                                                                <td>@item2.Required</td>
                                                                <td>@item2.DataType</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>Data yok...</p>
                }


            </div>
        </div>
    </div>
</div>